.section-header {
  margin-bottom: 20px;
  padding-bottom: 12px;
  border-bottom: 1px solid $divider-color;

  &__title {
    display: flex;
    align-items: center;
    gap: 10px;

    h1 {
      font-weight: $semi-bold-weight;
      margin: 0;
    }

    svg {
      color: $primary-color;
    }
  }

  &__subtitle {
    color: $subtitle-color;
    font-size: 14px;
    margin: 15px 0;    
  }
}
