.empty-lottie {
    max-width: 250px;
    margin: 0 auto;
    margin-bottom: 25px;
    width: 100%;

    @include media-breakpoint-up(md) {
        max-width: 300px;
    }

    @include media-breakpoint-up(lg) {
        max-width: 400px;
    }

    @include media-breakpoint-up(xl) {
        max-width: 450px;
    }

    &__animation {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center ;

        p {
            margin-bottom: 0;
        }
    }
}

.lottie-success {
    svg {
        max-width: 100px;
    }    
}