.empty-lottie {
    max-width: 250px;
    margin: 0 auto;
    margin-bottom: 25px;
    width: 100%;

    @include media-breakpoint-up(md) {
        max-width: 300px;
    }

    @include media-breakpoint-up(lg) {
        max-width: 400px;
    }

    @include media-breakpoint-up(xl) {
        max-width: 550px;
    }

    &__animation {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center ;
    }
}